@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 80px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 1;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}
.nav div.logo a img{
    width: 8rem;
    height: 8rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 80px;
    float: right;
}

.nav div.main_list .navlinks {
    width: 100%;
    height: 80px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list .navlinks .navItems {
    width: auto;
    height: 80px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list .navlinks .navItems a {
    text-decoration: none;
    color: #fff;
    line-height: 80px;
    font-size: 2.4rem;
}

.nav div.main_list .navlinks .navItems a:hover {
    color: #00E676;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(../images/carro-de-la-compra-en-un-supermercado-40320116.jpg);
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list .navlinks {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list .navlinks .navItems {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list .navlinks .navItems  a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}


.hero {
	background-image: linear-gradient( #f8ad819d , #00e677a2), url(https://dmrqkbkq8el9i.cloudfront.net/Pictures/2000xAny/9/2/9/271929_supermarketaisleshelves_521159.jpg);
	background-size: cover;
    width: 100%;
    height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.t780 {
    color: #000;
    font-weight: bold;
}




.cta-container {
	text-align: center;
	
	margin-top: 50px;
    
}

.cta-container .titulo {
    background: linear-gradient(45deg, #000000, #00e677);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 15rem;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    animation: move-in 1s forwards;
}



.cta {
    background-color: #fff;
    color: #000000;
    padding: 12px 24px; /* Aumentar el padding para hacer el botón más grande */
    border-radius: 5px;
    border: none;
    font-size: 2rem;
    
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    border: 2px solid #fff; /* Cambiar el ancho y el color del borde */
}
.cta:hover {
    background-color: #000;
    color: #fff;
    border-color: #000; /* Cambiar el color del borde en hover */
}


  
.cta-container span {
    background: linear-gradient(45deg,  #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 105%; 
    
    font-weight: bold;
    animation: slideIn 1s ease-out; 
  }

.descripcion {
    text-align: center;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
   
    }
    
 .descripcion .desItem {
    color: #000000;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.979);
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    animation: move-in 1s forwards;
    display: inline-block; /* Agregado */
    width: calc(30% - 10px); /* Agregado para distribuir en 3 columnas */
    vertical-align: top; /* Agregado para alinear arriba */
      }
   
 
.imgWsp{
    width: 80px;
    margin-bottom: 5px;
    margin-left: 8px;
}
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


 /* Gallery */

 .gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


.row {
    margin: 15px;
}

.titleh2{
    margin: 40px;
    display: flex;
    justify-content: center;
}

.titleh2 h2 {
    font-size:xx-large;
}


  

/* Estilo para la imagen
.image-container img{
    width: 300px;
    height: 400px;
    transition: filter 0.2s ease;
    z-index: 1;
    } */
    
    /* Estilo para el contenedor de imagen */
    /* .image-container {
    position: relative;
    display: inline-block;
    } */
    
    /* Estilo para el texto superpuesto en la imagen */
    /* .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    padding: 10px;
    } */
    
    /* Estilo para el efecto hover */
    /* .image-container:hover img {
    filter: blur(5px);
    }
    
    .image-container:hover .text-overlay {
    visibility: visible;
    opacity: 1;
    } */








  .footer {
    background-color: black;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footerLine{
    opacity: 0;
  }


  .logo-footer {
    display: flex;
    align-items: center;
    margin-right: 1300px;
    margin-bottom: 75px;
   
}
  .logo-footer .imgFooter {
    width: 150px;
  }
  
  .navFooter {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .footerItems {
    margin: 20px;
  }
  
  .footerItems a {
    color: #ffffffd5;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .footerItems a:hover {
    color: #00e677e1;
  }
  
  .tFooter {
    color: #00E676;
    margin-bottom: 10px;
    text-decoration: underline #fff;
    transition: border-color 0.3s ease;
  }
  .address {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .itemUbi {
    color: #ffffffd5;
    font-size: 30px;
    margin-right: 10px;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  .itemUbi:hover {
    color: #00e677e1;
  }
  
  .direccion {
    color: white;
    
  }
  
  .footer-info {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-items: flex-start;
    margin-top: -220px;
  }
  
  .contact-info,
  .location-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;

  }
  
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      height: 450px;
    }
    .logo-footer{
        width: 100%;
        position: relative;
        display:flex
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer {
      height: 500px;
    }
}
 
